{% extends 'layout.html'%}


{% block head %} 
<title>{{title}}</title> <!--título da página é o título passado na rota-->
{% endblock %}



{% block body %}



<div class="card text-center">
    <div class="card-header">
        <h3>{{termo}}</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Descrição</h5>
      <p class="card-text">{{descri}}</p>
    </div>
  </div>

<a href="/conceitos" class="btn btn-primary mt-3">Voltar</a>
<button type="button" onclick="delete_conceito('{{termo}}')" class="btn btn-danger mt-3">Apagar</button>


{% endblock %}